<div class="dialog">
  <h3 mat-dialog-title class="dialog__title">Metodo de pago</h3>

  <div mat-dialog-content class="dialog__content">

    <div class="dialog__content__method">

    </div>
  </div>

  <div mat-dialog-actions class="dialog__actions">
    <button mat-button>Buscar promociones</button>
<!--     <button mat-button [mat-dialog-close]="{ clicked: 'Ok' }" (click)="submit()"[disabled]="!empty">Ok</button>
    <button mat-button [mat-dialog-close]="{ clicked: 'Cancel' }">Cancel</button> -->
  </div>
</div>