/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { 
	margin: 0; 
	font-family: Roboto, "Helvetica Neue", sans-serif; 
	background: rgb(0 0 0 / 38%);
}
.cdk-overlay-backdrop.cdk-overlay-backdrop-showing {
	opacity: 1;
	background: rgba(0,0,0,.5);
}